PORT=3000

GEMINI_API_KEY_OANHVU=AIzaSyBGZujEZ8OabVc7qb3mYPh0qQeOLc8x1hk
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=123456789
DB_NAME=postgres
DB_SYNC=false

JWT_SECRET=please-change-this-secret
JWT_EXPIRES_IN=1d
RESET_PASSWORD_EXPIRES_IN=15m
FRONTEND_RESET_PASSWORD_URL=http://localhost:4200/reset-password

BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587
BREVO_SMTP_USER=
BREVO_SMTP_PASS=
BREVO_FROM_EMAIL=
