<div class="w-screen h-screen bg-gray-500 flex items-center justify-center">
  <div class="bg-white rounded-2xl p-8">
    <div class="w-full text-center mb-4">
      <h4 class="page-title">Admin Login</h4>
    </div>
    <div class="form-group">
      <label class="form-label" for="">Email:</label>
      <input class="form-input" type="text" [(ngModel)]="loginForm.email" />
    </div>
    <div class="form-group">
      <label for="" class="form-label">Password:</label>
      <input
        type="password"
        class="form-input"
        [(ngModel)]="loginForm.password"
      />
    </div>
    <div class="form-group w-full text-right">
      <button class="btn-primary" (click)="login()" type="button">Login</button>
    </div>
  </div>
</div>
